<div class="checkbox-container filter-location">
    <input id="{{this.id}}" name="{{this.id}}" type="checkbox" {{#if this.checked}}checked{{/if}}/>
    <label for="{{this.id}}" class="checkbox-label">
        <img src="{{this.image}}" alt=""/>
        <span>{{this.text}}</span>
    </label>
</div>