---
title: "Index"
---

<h1>AlTayer Motors Website</h1>
<h2>Index</h2>

{{!--<ul > 
  {{#each  pages }} 
    <li > <a  href ="#" > {{basename }} </a > </li > 
  {{/each  }} 
</ul > 

<ul>
    {{#each views.paths}}
    <li><a href="/{{path}}" target="_blank">{{id}}</a></li>
    {{/each}}
</ul>

<h2>Components</h2>

<ul>
    {{#each partials.paths}}
    <li><a href="/{{path}}" target="_blank">{{id}}</a></li>
    {{/each}}
</ul>--}}

<ul>
  
    <li><a href="/pages/" target="_blank">Pages</a></li>
    <li><a href="/components/" target="_blank">Components</a></li>
</ul>